<div class="pesananOnline-page">
    <div class="container mt-4">
        <h1 class="mb-4">Pesanan Online</h1>

        <!-- Tombol Edit Status -->
        <div class="d-flex justify-content-end mb-3">
            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editStatusModal">Edit Status</button>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>No</th>
                    <th>User Id</th>
                    <th>Jumlah</th>
                    <th>Total Pembayaran</th>
                    <th>Metode Pembayaran</th>
                    <th>Status</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody id="pesananOnline-list">
                <!-- Data akan dimuat secara dinamis -->
            </tbody>
        </table>
    </div>
</div>