<div class="about-page">
    <div class="background-image">
        <h1 style="font-size: 60px;">About Warmindo</h1>
    </div>

    <div class="content-section">
        <div class="content-container">
            <div class="image-section">
                <img src="/images/Warmindo.jpg" alt="Warmindo Image" />
            </div>
            <div class="text-section">
                <h2>Misi Kami</h2>
                <p>
                    Selamat datang di Warmindo! Kami berusaha menyajikan masakan Indonesia yang enak dan autentik. 
                    Dengan semangat terhadap makanan dan komunitas, Warmindo hadir untuk menghadirkan kegembiraan dalam setiap hidangan.
                </p>
                <p>Nikmati petualangan dalam mencoba berbagai rasa!</p>
            </div>
        </div>
    </div>
</div>
