<div class="home-page">
    <div class="hero">
        <video autoplay muted loop>
            <source src="./videos/Video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="hero-overlay"></div>
    </div>
    
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <img src="https://assets.kompasiana.com/items/album/2023/01/19/whatsapp-image-2023-01-19-at-00-51-32-63c83c5238207a76334fcd22.jpeg?t=o&v=770" class="img-fluid" alt="Gambar Warung">
            </div>
            <div class="col-md-6">
                <h3>Warung Warmindo</h3>
                <p>Cari warmindo di Jogja dengan fasilias wifi yang kenceng? Coba kunjungi Warmindo Elephant ,salah satunya yang berlokasi di belakang Kampus UMY. Banyak loh mahasiswa yang duduk berjejer untuk berdiskusi sampai mengisi perut bersama.</p>
                <p>Pilihan rasa mi instan di sini beragam, ada rendang, soto, sampai ayam geprek. Biar makin mengenyangkan, kamu bisa pesan snack seperti otak-otak, tempura, jamur krispi, dan lain-lain. Menu nasi ala warteg juga tersedia dengan beragam pilihan lauk.</p>
            </div>
        </div>
    </div>
    
    
    <!-- Menu Section -->
    <div class="container my-5">
        <h2 class="text-center mb-4">Menu Favorit</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="menu-item">
                    <img src="./images/makanan/Nasi Goreng.jpg" alt="Nasi Goreng">
                    <h4>Nasi Goreng</h4>
                    <div class="price">Rp15,000</div>
                
                </div>
            </div>
            <div class="col-md-4">
                <div class="menu-item">
                    <img src="./images/makanan/Mie Goreng.jpg" alt="Mie Goreng">
                    <h4>Mie Goreng</h4>
                    <div class="price">Rp10,000</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="menu-item">
                    <img src="./images/minuman/Es Teh.jpg" alt="Es Teh">
                    <h4>Es Teh</h4>
                    <div class="price">Rp3,000</div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="contact-section text-center">
        <p>Mau tahu lebih banyak tentang kami atau punya pertanyaan? Kami siap membantu! Hubungi kami sekarang dan dapatkan informasi lengkap tentang produk dan layanan kami.</p>
        <a href="/contact" class="btn btn-contact">Contact</a>
    </div>    
</div>
</div>