<div class="footer-page">
    <div class="footer text-center">
        <div class="footer-overlay"></div>
        <div class="footer-content container">
            <div class="row">
                <div class="col-md-4">
                    <h5>Lokasi</h5>
                    <p>Geblangan, Tamantirto, Kec. Kasihan, Kabupaten Bantul, Daerah Istimewa Yogyakarta 55184</p>
                    <a href="https://maps.app.goo.gl/f5VRPurXa9XJHXkJ7" class="custom-btn btn btn-danger mt-2">Lokasi Warmindo</a>
                </div>
                <div class="col-md-4">
                    <h5>Jam Buka</h5>
                    <p>Setiap Hari</p>
                    <p>07:00 AM - 08:00 PM</p>
                    <p>Tel: 010-02-0340</p>
                </div>
                <div class="col-md-4">
                    <h5>Media Sosial</h5>
                    <p>
                        <a href="https://www.facebook.com/WarmindoIndonesia/">
                            <img src="./images/Icon/FB.png" alt="Facebook Logo" style="width: 20px; height: 20px; filter: brightness(0) invert(1);"> Facebook
                        </a><br>
                        <a href="https://www.instagram.com/warmindoelephant?igsh=MWtnd2I5dW14YmxrMA==">
                            <img src="./images/Icon/IG.png" alt="Instagram Logo" style="width: 20px; height: 20px; filter: brightness(0) invert(1);"> Instagram
                        </a><br>
                        <a href="https://wa.me/+6282314948694">
                            <img src="./images/Icon/WA.png" alt="WhatsApp Logo" style="width: 20px; height: 20px; filter: brightness(0) invert(1);"> WhatsApp
                        </a><br>
                        <a href="https://www.youtube.com/watch?v=VbVUdCuQV44">
                            <img src="./images/Icon/YT.png" alt="YouTube Logo" style="width: 20px; height: 20px; filter: brightness(0) invert(1);"> YouTube
                        </a>
                    </p>                
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4">
                    <a href="" class="footer-link">Home</a>
                </div>
                <div class="col-md-4">
                    <a href="/about" class="footer-link">About</a>
                </div>
                <div class="col-md-4">
                    <a href="/contact" class="footer-link">Contact</a>
                </div>
            </div>
            <p class="mt-4">Copyright © 2024 Warmindo Elephant.</p>
        </div>
    </div>
</div>